@{
    ViewBag.Title = "NotFound";
}

<asp:Content ID="Title" ContentPlaceHolderID="TitleContent" runat="server">
    Transaction Not Found
</asp:Content>
<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Transaction Not Found</h2>
    <p>The Transaction you requested doesn't exist or was deleted.</p>
</asp:Content>